
.logo-img {
    float: center;
    width:  150px;
    height: 150px;
    object-fit: contain;
}

.bg-img {
    background-image: url("https://evcargo.urbanmorph.com/img/ifCa_churchst5.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}