
.logo-img {
    float: center;
    width:  200px;
    height: 200px;
    object-fit: contain;
}

.bg-img {
    background-image: url("../img/ifCa_churchst5.png");
    background-size: cover;
    height: 180px;
    width: 100%;
}

.um-green {
    background-color: #0D7576;
}
